<html>
	<head>
		<title>To-Do lists</title>
	</head>
	<body>
		<h1>Your To-Do list</h1>
		<form method="POST" action="/lists/{{ list.id }}/add_item">
		<input name="item_text" id="id_new_item" placeholder="Enter a to-do item">
			{% csrf_token %}
		</form>
		<table id="id_list_table">
			{% for item in list.item_set.all %}
			<!--.item_set 叫作“反向查询”（reverse lookup），是 Django 提供的非常有用的 ORM 功能，
可以在其他表中查询某个对象的相关记录 -->
				<tr><td>{{ forloop.counter }}: {{ item.text }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>